body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    height: 80px;
    
    background: #f8f8f8;
    
}

.container {
    
    margin: 1px auto;

    width: 91%
    
}
.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container .list ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.container .list ul li{
    margin-left: 30px;
    font-size: 24px;
    cursor: pointer;
}
.container .list ul li:hover{
    color: #F27C36;
    transition: 0.5s ease-in-out;
}
.isi {
    margin-top: 30px;
}   
.isi .back {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}
.back a{
    margin-left: 20px; 
    text-decoration: none;
    color: #a9a8a8;
}
.back a:hover{
    transition: 0.5s ease-in-out;
    transform: translateX(10px);
    color: #F27C36;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tentang-bantuan {
    background-color: #003F7E;
    border-radius: 10px;
    margin-top: 50px;
    width: 200px;
    padding: 30px;
    height: 100px;
    color: #a9a8a8;
    text-align: center;
}
.tentang-bantuan .img{
    color: #a9a8a8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

}
.tentang-bantuan img{
    width: 30%;
    border-radius: 20px;
    
}
.status-bantuan .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 400px;
    text-align: center;
}
.status-bantuan .heading h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}